/* style du header */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

header nav p {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bolder;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0);
}
nav img {
  display: none;
}

nav p:hover + img {
  display: inline-block;
  cursor: pointer;
}

nav div:nth-child(1) {
  position: fixed;
  top: 3%;
  left: 0;
  transform: translateY(-50%, -50%);
  width: 100%;
  flex-direction: column;
}

nav div:nth-child(1) img {
  transform: rotate(90deg);
}

nav div:nth-child(2) {
  position: fixed;
  top: 0;
  left: 3%;
  transform: translateX(-50%, -50%);
  text-orientation: upright;
  writing-mode: vertical-lr;
  height: 100%;
  flex-direction: column;
}

nav div:nth-child(3) {
  position: fixed;
  top: 0;
  right: 3%;
  transform: translateX(-50%, -50%);
  text-orientation: upright;
  writing-mode: vertical-lr;
  height: 100%;
  flex-direction: column-reverse;
}

nav div:nth-child(3) img {
  transform: rotate(180deg);
}

nav div:nth-child(4) {
  position: fixed;
  bottom: 3%;
  left: 0;
  transform: translateY(-50%, -50%);
  width: 100%;
  flex-direction: column-reverse;
}

nav div:nth-child(4) img {
  transform: rotate(270deg);
}

nav img {
  width: 4vw;
}
