/* style portfolio */
section#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 2%;
}

.portfolio-titre {
  text-align: center;
  margin-bottom: 5%;
}

#portfolio hr {
  background-color: #202020;

  height: 2px;
  text-decoration: none;
  border: none;
}

#portfolio hr:nth-of-type(2) {
  width: 80%;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

/* style des cards projet/portfolio */

.card {
  width: 360px;
  height: 240px;
  background-color: transparent;
  border-radius: 25px;
  perspective: 1000px;
  margin: 1%;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ebebeb;
  color: black;
}

.flip-card-back {
  background-color: #ebebeb;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back button {
  margin-top: 5%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.btn-grad a {
  color: white;
}

.last-work {
  width: 80%;
  margin-bottom: 50px;
}

.last-card {
  display: flex;
  min-height: 240px;
  margin-top: 2%;
  background-color: #ebebeb;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.last-images {
  border-radius: 25px 0px 0px 25px;
}

.last-images img {
  width: 360px;
  height: 240px;
  object-fit: cover;
  border-radius: 25px 0px 0px 25px;
}

.last-work h2,
.autre-projets h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.last-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px 0px 10px 0px;
  width: 70%;
}

.autre-projets {
  width: 80%;
}

.last-logo {
  display: flex;
}

.last-logo img {
  margin-right: 20px;
}

.last-logo:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-work .git-link {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.last-work .git-link p {
  margin-left: 10px;
}

.last-work a {
  color: #202020;
}

.last-infos h3 {
  font-size: x-large;
  margin: 0;
}

.portfolio-item .card {
  width: 100%; /* Utilise la largeur complète pour les petits écrans */
  margin: 3% 0; /* Ajout de marges verticales */
}

@media (min-width: 481px) and (max-width: 1024px) {
  .portfolio-item .card {
    width: 48%; /* Presque la moitié de la largeur pour 2 cartes par ligne */
    margin: 1%; /* Une marge pour espacer les cartes */
  }
}

@media (min-width: 1025px) {
  .portfolio-item .card {
    width: 31.33%; /* Pour avoir 3 cartes par ligne */
    margin: 1%; /* Une marge pour espacer les cartes */
  }
}

@media (max-width: 900px) {
  .last-card {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .last-card .last-images img {
    width: 100%;
    border-radius: 25px 25px 0 0; /* Ajustez les bordures arrondies */
  }
  .last-card .last-infos {
    width: 100%;

    padding: 10px;
    align-items: center;
  }

  .last-logo img {
    width: 20%;
  }
  .last-logo {
    justify-content: center;
  }
  .last-infos p {
    text-align: center;
  }
  .last-work h2,
  .autre-projets h2 {
    text-align: center;
  }
}
